{{ nginx_log_path }}/*.log {
        daily
        missingok
        rotate {{ nginx_logrotate_general_retention }}
        compress
        notifempty
        create 640 nginx adm
        sharedscripts
        olddir {{ nginx_log_path }}/archives
        postrotate
                if [ -f /var/run/nginx.pid ]; then
                        kill -USR1 `cat /var/run/nginx.pid`
                fi
        endscript
}
{{ nginx_log_path }}/vhosts/*.log {
        daily
        missingok
        rotate {{ nginx_logrotate_vhost_retention }}
        compress
        notifempty
        create 640 nginx adm
        sharedscripts
        olddir {{ nginx_log_path }}/archives/vhosts
        postrotate
                if [ -f /var/run/nginx.pid ]; then
                        kill -USR1 `cat /var/run/nginx.pid`
                fi
        endscript
}
